body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 18px;
    background-color: white;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 22px;
}

section {
    background: white;
    padding: 18px;
    border-radius: 8px;
    box-shadow: 0 4px 9px rgba(0,0,0,0.2);
    text-align: left;
}

table {
    width: 100%;
}

th {
    background-color: lightskyblue;
    color: black;
    padding: 8px;
}

td {
    border: 1px solid black;
    padding: 8px;
}

footer {
    margin-top: 40px;
    font-size: 18px;
    background-color: gray;
    margin-top: 40px;
    color: white;
    border-radius: 8px;
    padding: 15px;
}