body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    background-color: white;
    text-align: center;
}

#introduction {
    font-style: italic;
    padding: 0 75px;
}

main {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 22px;
    padding: 40px 90px;
}

section {
    background: white;
    padding: 18px;
    border-radius: 8px;
    box-shadow: 0 4px 9px rgba(0,0,0,0.2);
    text-align: left;
}

table {
    width: 100%;
}

th {
    background-color: lightskyblue;
    color: black;
    padding: 8px;
    text-align: center;
}

td {
    border: 1px solid black;
    padding: 18px;
    text-align: center;
}

#images, 
#video {
    text-align: center;
}

figcaption {
    font-size: 16px;
}

footer {
    margin-top: 40px;
    font-size: 18px;
    background-color: gray;
    margin-top: 40px;
    color: white;
    padding: 18px;
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode section {
    background-color: black;
}

.dark-mode footer {
    background-color: black;
}

.dark-mode th {
    background-color: lightskyblue;
    color: white;
}

.dark-mode td {
    border-color: gray;
}

#modeToggleBtn {
    background-color: lightskyblue;
}

#modeToggleBtn:hover {
    background-color: lightslategray;
    color: whitesmoke;
}